<div class="page-width">
  <h1>{{ blog.title }}</h1>

  {% paginate blog.articles by 10 %}
    <div class="blog-articles">
      {% for article in blog.articles %}
        <div class="blog-article">
          <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
          <p>{{ article.published_at | date: '%B %d, %Y' }}</p>
          {% if article.excerpt.size > 0 %}
            <p>{{ article.excerpt }}</p>
          {% else %}
            <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
          {% endif %}
          <a href="{{ article.url }}" class="button">Read More</a>
        </div>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}
</div>